.ResultList {
  &-item {
    counter-increment: resultCount;
    position: relative;
    box-shadow: theme(boxShadow.brand-shadow);
    padding: theme(spacing.6);
    padding-left: theme(spacing.14);

    &::before {
      content: counter(resultCount, decimal);
      position: absolute;
      left: theme(spacing.4);
      color: white;
      background-color: theme(colors.brand-primary);
      width: 24px;
      height: 24px;
      text-align: center;
      border-radius: 50%;
      @media (max-width: 639px) {
        content: none;
      }
    }

    @screen sm {
      &.is-hovered {
        background-color: theme(colors.brand-gray.200);
      }

      &.is-selected {
        background-color: theme(colors.brand-gray.300);
      }
    }

    @media (max-width: 639px) {
      padding-left: 1.5rem;
    }
  }
}
